					</tr>
					<tr>
						<td>Total DTPID Funds ($35,000 Max)</td>
						<!-- Total DTPID Funds Display -->
						<td><label>$</label><span id="totFDis">0</span></td>
					</tr>
					<tr>
						<td>DTPID as a % of Total (35% max):</td>
						<!-- Percent DTPID Funds Total Display -->
						<td><span id="perFTotDis">0</span><label>%</label></td>
					</tr>
				</tbody>
			</table>
		</div>