		<!-- Event Budget Section -->
		<div>
			<h3>Event Budget:</h3>
			<table class="table table-bordered form-group form-inline">
				<thead>
					<th colspan="2">Total Event Budget</th>
				</thead>
				<tbody>
					<tr>
						<td>Total Event Budget</td>