<% include partials/header.ejs %>

	<link rel="stylesheet" type="text/css" href="assets/css/postEventFormFinal.css">
	<title>Post Event Hotel Reimbursement Form</title>
</head>
<body>

	<% include partials/navbar.ejs %>

	<div class="container">

		<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">

		<form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" onsubmit="return javascript:myFunction()">

		<input type=hidden name="oid" value="00D0b000000RDhe">
		<input type=hidden name="retURL" value="http://www.dtpid.com/thank-you-for-completing-your-post-event-form">
	
		<!--Title - Set Form Type-->
		<div class="form-group">
			<h1>DTPID Post-Event Reimbursement Form</h1>
			<fieldset class="hide" readonly>
				<select id="00N0b000007wAxU" class="form-control" name="00N0b000007wAxU" title="Application_Type">
					<option value="Event Post-Event">Event Post-Event</option>
				</select>
			</fieldset>
		
			<p>Submitted 30 days after Event Ends</p>
		</div>

		<div class="form-group form-inline hide" id="dateTester">
			<label>Application Date:</label>
			<span class="dateInput dateOnlyInput">
				<input  id="00N0b00000CclxP" class="form-control" name="00N0b00000CclxP" placeholder="mm/dd/yyyy" size="12" type="text"/>
			</span>
		</div>
	
		<!-- Event/Contact Information -->
		<div>
			<% include partials/contactInformation.ejs %>

				<h3>Organization Information:</h3>

				<div class="form-group">
					<label for="company" class="col-sm-2 control-label">Name:</label>
					<div class="col-sm-9">
						<input id="company" class="form-control" placeholder="Name" name="company" size="40" type="text" />
					</div>
				</div>	

				<div class="form-group">
					<label for="phone" class="col-sm-2 control-label">Phone:</label>
					<div class="col-sm-9">
						<input id="phone" class="form-control phone" name="phone" size="12" type="text" placeholder="Phone" />
					</div>
				</div>

				<div class="form-group">
					<label for="URL" class="col-sm-2 control-label">Website:</label>
					<div class="col-sm-9">
						<input id="URL" class="form-control" name="URL" size="20" type="text" placeholder="Website" />
					</div>
				</div>

				<% include partials/eventInformation.ejs %> 

				<div class="form-group">
					<label class="col-sm-2 control-label">OCA Funding:</label>
					<div class="col-sm-9">
						<input id="00N0b00000Bw1rS" name="00N0b00000Bw1rS" type="checkbox" value="0" />
					</div>
				</div>
			</div>
 		</div>

 		<!-- Calculate TPID Funding-->
 		<div>
			<div>
				<h3>How to Estimate DTPID Funded Amount:</h3>
				<p>Select ONE method of computing the anticipated incremental room night code and fill in the appropriate blank:</p>
			</div>

		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">Pre Event DTPID Estimation Choice:</label>
				<!-- Estimation Choice Picker -->
				<div class="col-sm-9">
	 				<select  id="00N0b000009gtNd" name="00N0b000009gtNd" class="form-control estCP" name="00N0b000007v5C5" title="Pre Event TPID Estimation Choice">
					<option value="">--None--</option>
					<option value="Attendance Numbers">Attendance Numbers</option>
					<option value="Hotel Booking Code">Hotel Booking Code</option>
					<option value="Ticket Sales/Registration">Ticket Sales / Registration</option>
				</select>
				</div>
			</div>
		</div>
			
			<div class="form-group">
				<div class="col-sm-1">
				
				</div>
				<div class="col-sm-11">
				<ul>
					<li id="estimationChoice0">Please Choose an option</li>
					<li id="estimationChoice1" class="hide">Estimated total number of attendees of the event multiplied by factor.</li>
					<li id="estimationChoice2" class="hide">Estimated number of trackable hotel room nights through hotel booking codes.</li>
					<li id="estimationChoice3" class="hide">Estimated total number of ticket sales sold or registartions from outside of the DFW Metropolitan Statistical Area (MSA) multiplied by factor.</li>					
					<li id="estimationResult" class="hide">
						<!-- Pre Event DTPID Number Input: -->
						<div class="col-sm-2 noPaddingRight">
					<input id="00N0b000009gtUX" name="00N0b000009gtUX" class="form-control numIn" size="20" type="text" placeholder="e.g. 12345" required/>
						</div>
						<div class="col-sm-10 noPaddingLeft">
							<p  class="inLine"> x <span id="estimationChoiceFactorDisplay">0</span> = <span id="estimationChoiceResultDisplay">0</span> Total Room Nights</p>	
						</div>
					</li>
				</ul>				
				</div>
			</div>
		</div>	

 		<div>
 			<h3>Let's do the Math:</h3>
 			<ul>
 				<li>Your actual number of <strong>Hotel Room Nights</strong> as determined above</li>
 				<li>Multiplied by <strong>Average Hotel Rate</strong> (use $168 per night or your Booking Code Rate) to get <strong>Total Revenue</strong></li>
 				<li>Divide <strong>Total Revenue</strong> by 10 to get the 10:1 required ROI = <strong>Final Eligible DTPID Amount</strong></li>
	 		</ul>
 			<div class="biggerFont form-group form-inline">
 		 		<p class="inLineStart"><strong>Hotel Room Nights</strong></p>
	 			<p class="inLineStart">
	 				<!-- Post App Hotel Room Nights: -->
	 				<input  id="00N0b000009gtVs" class="form-control" name="00N0b000009gtVs" size="7" type="text" value="0" readonly/>
	 			</p>
	 			<p class="inLineStart" style="margin-right: 0px;">x <strong>Avg. Room Rate </strong>$</p>
	 			<p class="inLineEnd">	
	 				<!-- Post App Hotel Room Rate: -->
	 				<input id="00N0b000009gtXE" class="form-control" name="00N0b000009gtXE" size="3" type="text" value="168" readonly/>
				</p>
	 			<p class="inLineEnd" style="margin-right: 0px;">= <strong>Total Revenue $<span id="totalRevenueDisplay">0</span> </strong><i class="fas fa-divide"></i><strong> 10 (for ROI)</strong> =</p>		
 			</div>
 			<div class="center">
 				<p class="highlight">$ <span id="finalDTPIDAmountDisplay">0</span><strong> Final Eligible DTPID Amount</strong></p> 			
	 		</div>

 			<div>
 				<h4>Maximum Amount per Fiscal Year Allowed: $35,000</h4>
 				<div class="form-group">
 					<label class="col-sm-2 control-label">DTPID Funds Requested:</label>
 					<div class="col-sm-9">
 						<input  id="00N0b00000BQW8e" class="form-control" name="00N0b00000BQW8e" size="20" value="0" type="text" />
 					</div>
 				</div>
 			</div>
 			<br>
 			<br>
 		</div>

	 	<!-- DTPID Funds Chart -->
 		<div>
 			<h3>DTPID Funds:</h3>
 			<p>Please complete the "Calculated Eligible DTPID Funded Amount Based on Actualized Performance" before filling in this section</p>
 			<table class="table table-bordered tableBorderSet">
 				<tr>
 					<td>DTPID Funds Pre-Approved (as stated in approval letter):</td>
 					<td>
 						<div class="form-inline">
 							<label>$</label>
 							<input type="text" class="form-control" name="dtpidFundsPreApproved" id="dtpidFundsPreApproved" size="7" value="0" placeholder="12345" required>
 						</div>
 					</td>
 				</tr>
 				<tr>
 					<td>DTPID Funds Available (actual performance-based calc):</td>
 					<td><p><strong>$</strong><span id="dtpidFundsAvailableDisplay">0</span></p></td>
 				</tr>
 				<tr>
 					<td>Less Any Advance Payment (Non-Profit Organizations):</td>
 					<td>
 						<div class="form-inline">
 							<label>$</label>
 							<!-- Partial Funded Amount: -->
 							<input id="00N0b00000899kp" class="form-control" name="00N0b00000899kp" size="7" value="0" type="text" />
 						</div>
 					</td>
 				</tr>
 				<tr>
 					<td>Final Payment Due</td>
 					<td>
 						<div class="form-inline">
 							<label>$</label>
 							<!-- Final Funded Amount: -->
 							<input id="00N0b00000Cbqrv" class="form-control" name="00N0b00000Cbqrv" size="7" value="0" type="text" readonly />
 						</div>
 					</td>
 				</tr>
 			</table>
 		</div>

	 	<% include partials/eventBudgetTopTable.ejs %>
						<td>
							<strong>$</strong>
							<!-- Hotel Post Total Other: -->
							<input id="00N0b00000CbolR" class="form-control" name="00N0b00000CbolR totEBudget" size="9" type="text" value="0" required/>
						</td>
		<% include partials/eventBudgetBottomTable.ejs %>

		<div>
			<h3>How you spent the DTPID Dollars:</h3>
			<p>Make sure that "Total DTPID Funds" and "Final Eligible DTPID Amount" are equal. Use all fields that apply.</p>
			<!-- Breakdown of Spending Categories -->
			<table class="table table-bordered form-inline">
				<tbody>
					<tr>
						<td>Event Marketing: </td>
						<td>
							<div class="form-inline">
								<label>$</label>
									<!-- Hotel Post Dollar Advertising Marketing:-->
									<input id="00N0b00000APpKT" class="form-control eventSum" value="0" name="00N0b00000APpKT" size="8" type="text"/>
							</div>
						</td>
					</tr>
					<tr>
						<td>Event Staffing:</td>
						<td>
							<div class="form-inline">
								<label>$</label>
								<!-- Hotel Post Dollar Web Staffing: -->
								<input id="00N0b00000APrKd" class="form-control eventSum" value="0" name="00N0b00000APrKd" size="8" type="text" />
							</div>
						</td>
					</tr>
					<tr>
						<td>Event Production:</td>
						<td>
							<div class="form-inline">
								<label>$</label>
								<!-- Hotel Post Dollar Research Production -->
								<input id="00N0b00000APr5I" class="form-control eventSum" value="0" name="00N0b00000APr5I" size="8" type="text"/>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="form-inline">
								Other (fill in explanation):
								<!-- Hotel Post Other Budget Explanation: -->
								<input  id="00N0b00000AQ0Jh" class="form-control" maxlength="40" name="00N0b00000AQ0Jh" size="20" type="text" />
							</div>
						</td>
						<td>
							<div class="form-inline">
								<label>$</label>
								<!-- Hotel Post Dollar Other: -->
								<input id="00N0b00000BgxJt" class="form-control eventSum" value="0" name="00N0b00000BgxJt" size="8" type="text" />	
							</div>
						</td>
					</tr>
					<tr>
						<td><label>Total DTPID Funds:</label></td>
						<td>
							<p><strong>$</strong><span id="summedDTPIDFundsDisplay">0</span></p>
							<p id="matchPromptTotalDisplay1" class="hide">Please match this number to Final Eligible DTPID Amount: $<span id="matchPromptTotalDisplay2">0</span></p>
						</td>
					</tr>
				</tbody>
			</table>

			<p class="center">Applicant, when submitting this Event Application Package, acknowledges the information contained herein as accurate and agrees to review of all related event materials and final support documentation prior to DTPID payment.</p>
			<br>
		</div>	

		<div>
			<label>Brief Event Actual Results:</label>
			<textarea  id="00N0b00000ABqE9" class="form-control" name="00N0b00000ABqE9" rows="25" type="text" wrap="soft" required></textarea>
			<p style="text-align: center;">Please add additional information to 'tell the story'</p>
			<br>

			<label>Describe how DTPID funds were used to increase attendance:</label>
			<textarea  id="00N0b00000ABqEE" class="form-control" name="00N0b00000ABqEE" rows="25" type="text" wrap="soft" required></textarea><br>
		</div>

		<p class="disclaimer"><strong>If you have any questions, please contact Maribeth Lysen at (214) 571-1028 or <a href="mailto:maribeth@visitdallas.com">Maribeth@visitdallas.com</a></strong></p>

		<div>
			<p class="center, disclaimer"><strong>Please send the supplemental documents as an attachment to <a href="#" onclick="javascript:myFunction(); return false;">Maribeth@VisitDallas.com</a></strong></p>
			<br>
		</div>

		<p class="disclaimer"><strong>Print this screen for your records before submitting. (Control+P or Command+P)</strong></p>

		<input class="btn btn-primary btn-lg btn-block" id="submit" type="submit" name="submit" disabled onclick="javascript:myFunction()"> 
	</form>

	<script type="text/javascript" src="assets/js/postEventFormFinal.js"></script>
	<script type="text/javascript" src="assets/js/events.js"></script>

	<% include partials/footer.ejs %> 