<% include partials/header.ejs %> 

		<title>DTPID Pre Event Form Submission</title>
		<link rel="stylesheet" type="text/css" href="assets/css/preEventFormFinal.css">
	</head>
	<body>

	<% include partials/navbar.ejs %> 

<div class="container">

	<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">

	<form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8"  method="POST">

		<input type=hidden name="oid" value="00D0b000000RDhe">
		<input type=hidden name="retURL" value="http://www.dtpid.com/thank-you-for-submitting-your-request">

		<div class="form-group form-inline hide" id="dateTester">
			<label>
				Application Date:
			</label>
			<span class="dateInput dateOnlyInput">
				<input  id="00N0b00000CclxK" class="form-control" name="00N0b00000CclxK" placeholder="mm/dd/yyyy" size="12" type="text"/>
			</span>
		</div>


		<!-- Introduction to the Form --> 
		<div class="form-group form-inline">
			<h1>DTPID Pre Event Form Submission</h1>
			<div class="hide">
				<label>
					Application_Type:
				</label>
				<select  id="00N0b000007wAxU" class="form-control" name="00N0b000007wAxU" title="Application_Type">
					<option value="Event Pre-Event">Event Pre-Event</option>
				</select>
			</div>
			<p>Complete 90 days before event</p>
		</div>
		
		<!-- Contact Information -->
		<div>
			
			<% include partials/contactInformation.ejs %>

			<!-- Third Row -->

			<h3>Organization Information:</h3>

			<div class="form-group">
				<label for="company" class="col-sm-2 control-label">
					Name:
				</label>
				<div class="col-sm-9">
					<input  id="company" class="form-control orgInfo" name="company" size="40" type="text" placeholder="Name" required/>
				</div>
			</div>

			<!-- Fourth Row -->
			<div class="form-group">

				<label for="street" class="col-sm-2 control-label">
					Street:
				</label>
				<div class="col-sm-9">
					<textarea name="street" id="street" class="form-control orgInfo" rows="2" placeholder="Street" required></textarea>
				</div>
			</div>

			<div class="form-group">
				<label for="city" class="col-sm-2 control-label">
					City:
				</label>
				<div class="col-sm-2">
					<input  id="city" class="form-control orgInfo" name="city" size="20" type="text" value="Dallas"/>
				</div>
				
				<!-- <label for="state" class="col-sm-2 control-label">
					State:
				</label> -->
				<div>
					<input  id="state" class="form-control hide orgInfo" name="state" size="3" type="text"/>
				</div>

				<label class="col-sm-1 control-label">
					State:
				</label>
				<div class="col-sm-2">
					<select  id="statePicklist" class="form-control" name="statePicklist" title="Event Venue State">
						<option value="TX">Texas</option>
					</select>
				</div>

				<label for="zip" class="col-sm-1 control-label">
					Zip:
				</label>
				<div class="col-sm-3">
					<input  id="zip" class="form-control orgInfo" name="zip" size="8" type="text" placeholder="Zip" />
				</div>
			</div>

			<div class="form-group">
				<label for="phone" class="col-sm-2 control-label">
					Phone:
				</label>
				<div class="col-sm-9">
					<input  id="phone" class="form-control phone" name="phone" size="12" type="text" placeholder="Phone" />
				</div>
			</div>

			<div class="form-group">
				<label for="URL" class="col-sm-2 control-label">
					Website:
				</label>
				<div class="col-sm-9">
					<input  id="URL" class="form-control" name="URL" size="20" type="text" placeholder="Website" />
				</div>
			</div>

		</div>

		<!-- Event Information -->
		<div class="form-horizontal">
			
			<% include partials/eventInformation %> 

			<div class="form-group">
				<label class="col-sm-2 control-label">
					Is this a Sports Event?
				</label>
				<div class="col-sm-3">
					<input class="form-control" id="sportsCheckbox" name="sportsCheckbox" type="checkbox" value="0">
				</div>

				<label class="hide col-sm-2 control-label">
					Lead Type:
				</label>
				
				<div class="col-sm-4">
					<select class="hide" id="00N0b00000Cd4jc" name="00N0b00000Cd4jc" title="Lead Type">
						<option value="Event">Event</option>
						<option value="Sports">Sports</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">
					Previous DTPID Funding:
				</label>
				<div class="col-sm-3">
					<input id="00N0b000007v1qm" class="form-control" name="00N0b000007v1qm" type="checkbox" value="0"/>
				</div>
				
				<label class="hide col-sm-2 control-label" id="labelTimesFunded">
					# of times funded:	
				</label>
				<div class="col-sm-4">
					<input  id="00N0b000007v56k" class="form-control hide" name="00N0b000007v56k" size="5" type="text" value="0" />
				</div>
				
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">
					OCA Funding:
				</label>
				<div class="col-sm-3">
					<input  id="ocaCheckbox" class="form-control" name="ocaCheckbox" type="checkbox" value="0" />
				</div>

				<label class="hide col-sm-2 control-label" id="ocaField">
					OCA Field:	
				</label>
				<div class="col-sm-4">
					<input  id="00N0b00000Bw1rS" class="hide form-control" name="00N0b00000Bw1rS" size="5" type="text" value="" />
				</div>
			</div>

			<div class="form-group">
				<label class="hide col-sm-2 control-label">
					Pre Partial Funded Requested Amount:
				</label>
				<div class="col-sm-3 hide">
					<input  id="00N0b00000899kp" name="00N0b00000899kp" size="20" type="text" />
				</div>
				<div class="col-sm-3 hide">
					<input  id="00N0b00000Cbqrv" name="00N0b00000Cbqrv" size="20" type="text" />
				</div>

			</div>

			<div class="form-group">
				<label class="hide col-sm-2 control-label">
					Partial Payment %:
				</label>
				<div class="col-sm-4 hide">
					<select  id="00N0b00000899QC" name="00N0b00000899QC" title="Partial Payment %">
						<option value="25%">25%</option>
						<option value="50%">50%</option>
					</select>
				</div>
			</div>

			<h3>Event Venue:</h3>

			<div class="form-group">
				

				<label class="col-sm-2 control-label">
					Check if Event Venue is different from Organization.
				</label>	

				<div class="col-sm-3">
					<input id="locationCheck" class="form-control" name="LocationCheck" type="checkbox" value="0" />
				</div>
				
		</div>
			
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">Event Venue:</label>

				<div class="col-sm-9">
					<input  id="00N0b00000BOCDc" class="form-control eventLocation" name="00N0b00000BOCDc" size="50" type="text" readonly />
				</div>
			</div>

			<div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Address:</label>
					<div class="col-sm-9">
						<textarea  id="00N0b00000Bu9Vk" class="form-control eventLocation" name="00N0b00000Bu9Vk" type="text" wrap="soft" readonly></textarea>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">City:</label>
					<div class="col-sm-2">
						<input  id="00N0b00000Bu9Xl" class="form-control eventLocation" name="00N0b00000Bu9Xl" size="20" type="text" value="Dallas" readonly/>
					</div>

					<label class="col-sm-1 control-label">State:</label>
					<div class="col-sm-2">
						<select  id="00N0b00000Bu9Vp" class="form-control eventLocation" name="00N0b00000Bu9Vp" title="Event Venue State" readonly>
							<option value="TX">Texas</option>
						</select>
					</div>
					
					<label class="col-sm-1 control-label">Zip:</label>
					<div class="col-sm-3">
						<input  id="00N0b00000BOCDh" class="form-control eventLocation" name="00N0b00000BOCDh" placeholder="eg.75201" size="20" type="text" readonly/>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div>
				<h3>How to Estimate DTPID Funded Amount:</h3>
				<p>Select ONE method of computing the anticipated incremental room night code and fill in the appropriate blank:</p>
			</div>

		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">Pre Event DTPID Estimation Choice:</label>
				<!-- Estimation Choice Picker -->
				<div class="col-sm-9">
					<select id="00N0b000007v5C5" class="form-control estCP" name="00N0b000007v5C5" title="Pre Event TPID Estimation Choice">
					<option value="">--None--</option>
					<option value="Attendance Numbers">Attendance Numbers</option>
					<option value="Hotel Booking Code">Hotel Booking Code</option>
					<option value="Ticket Sales/Registration">Ticket Sales / Registration</option>
				</select>
				</div>
			</div>
		</div>
			
			<div class="form-group">
				<div class="col-sm-1">
				
				</div>
				<div class="col-sm-11">
				<ul>
					<li id="estimationChoice0" class="estChoiceDisplay">Please Choose an option</li>
					<li id="estimationChoice1" class="hide estChoiceDisplay">Estimated total number of attendees of the event multiplied by factor.</li>
					<li id="estimationChoice2" class="hide estChoiceDisplay">Estimated number of trackable hotel room nights through hotel booking codes.</li>
					<li id="estimationChoice3" class="hide estChoiceDisplay">Estimated total number of ticket sales sold or registartions from outside of the DFW Metropolitan Statistical Area (MSA) multiplied by factor.</li>					
					<li id="estimationResult" class="hide">
						<!-- Pre Event DTPID Number Input: -->
						<div class="col-sm-2 noPaddingRight">
						<input  id="00N0b000007vPGg" class="form-control numIn" name="00N0b000007vPGg" type="text" required/>
						</div>
						<div class="col-sm-10 noPaddingLeft">
							<p  class="inLine"> x <span id="estimationChoiceFactorDisplay">0</span> = <span id="estimationChoiceResultDisplay">0</span> Total Room Nights</p>	
						</div>
					</li>
				</ul>				
				</div>
			</div>
		</div>
		</div>	

		<!-- Math section -->
		<div>
			<div>
				<h3>Let's do the Math:</h3>
				<ul>
					<li>Your anticipated number of <strong>Hotel Room Nights</strong> as determined above</li>
					<li>Multiplied by <strong>Average Hotel Rate</strong> <em>(use $168 per night or your Booking Code Rate)</em> to get <strong>Total Revenue</strong></li>
					<li>Divide <strong>Total Revenue</strong> by 10 to get the 10:1 required ROI = <strong>Maximum Eligible DTPID Amount</strong></li>
				</ul>
			</div>

			<div class="form-group form-inline biggerFont">
				<p class="inLine">Hotel Room Nights </p>
				<!-- Pre App Hotel Room Nights: -->
				<input  id="00N0b000009got7" class="form-control inLine" name="00N0b000009got7" size="8" type="text" readonly />
				<p class="inLine">x Avg. Room Rate  $</p>
				<!-- Pre App Hotel Room Rate: -->
				<input  id="00N0b000009gotC" class="form-control inLine" name="00N0b000009gotC" size="3" type="text" value="168" readonly required/>
				<p class="inLine"> = Total Revenue $<span id="totalRevenueDisplay">0</span> <i class="fas fa-divide"></i> 10 (for ROI)</p>
			</div>
			<div>	
			<p class="highlight">= $<span id="finalDTPIDAmountDisplay">0</span> Maximum Eligible DTPID Amount</p>
			</div>
		</div>
		<div>
			<h4>Maximum Amount per Fiscal Year Allowed: $35,000</h4>
			<div class="form-group">
				<label class="col-sm-2 control-label">DTPID Funds Requested:</label>
				<div class="col-sm-9">
					<input  id="00N0b00000BQW8Z" class="form-control" name="00N0b00000BQW8Z" size="20" type="text" value="0" />
				</div>
			</div>
			<br>
			<br>
		</div>

		<% include partials/eventBudgetTopTable.ejs %>
						<td>
							<!-- Total Event Budget: -->
							<label class="inLine">$</label>
							<input id="00N0b00000CbKPj" class="form-control totEBudget" name="00N0b00000CbKPj" size="20" type="text" value="0" />
						</td>
		<% include partials/eventBudgetBottomTable.ejs %>

		<!-- How you spent the money section -->
		<div>
			<h3>How You Plan to Spend the DTPID Funds:</h3>
			<p>The "Total DTPID Funds" number and the "Maximum Eligible DTPID Amount" must be equal</p>
			<table class="table table-bordered form-group form-inline">
				<thead>
					<th colspan="2">DTPID Funding Categories</th>
				</thead>
				<tbody>
					<tr>
						<td>Event Marketing:</td>
						<td>
							<label class="inLine">$</label>
							<!-- Hotel Pre Dollar Advertising Marketing: -->
							<input  id="00N0b0000088woe" class="inLine form-control" name="00N0b0000088woe" size="20" type="text" value="0" />
						</td>
					</tr>
					<tr>
						<td>Event Staffing:</td>
						<td>
							<label class="inLine">$</label>
							<!-- Hotel Pre Dollar Web Staffing: -->
							<input  id="00N0b0000089S0U" class="inLine form-control" name="00N0b0000089S0U" size="20" type="text" value="0" />
						</td>
					</tr>
					<tr>
						<td>Event Production</td>
						<td>
							<label class="inLine">$</label>
							<!-- Hotel Pre Dollar Research Production: -->
							<input  id="00N0b0000089SFW" class="inLine form-control" name="00N0b0000089SFW" size="20" type="text" value="0" />
						</td>
					</tr>
					<tr>
						<td>
							<p class="inLine">Other:</p>
							<!-- Hotel Pre Other Budget Explanation: -->
							<input  id="00N0b0000082pNE" class="form-control" maxlength="40" name="00N0b0000082pNE" size="20" type="text" />
						</td>
						<td>
							<label class="inLine">$</label>
							<!-- Hotel Pre Dollar Other: -->
							<input  id="00N0b00000BgxJU" class="form-control" name="00N0b00000BgxJU" size="20" type="text" value="0" />
						</td>
					</tr>
					<tr class="biggerFont">
						<td><strong>Total DTPID Funds</strong></td>
						<td class="fixWidth">
							<strong><label>$</label><span id="summedDTPIDFundsDisplay">0</span></strong>
							<p id="matchDTPIDFunds1">Match with Maximum Eligible DTPID Amount: $<span id="matchDTPIDFunds2">0</span></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- Signature Section -->
		<div class="form-group form-inline">
			<p>Applicant, when submitting this Event Application Package, acknowledges the information contained herein as accurate and agrees to review of all related event materials and final support documentation prior to DTPID payment.</p>
		</div>

		<!-- Paragraph answer section -->
		<div class="form-group">
			<label>Brief Event Description:</label>
			<textarea  id="00N0b0000082K90" class="form-control" name="00N0b0000082K90" rows="25" type="text" wrap="soft" required></textarea>

			<p class="middle">Please add additional information to "tell the story"</p>

			<label>Describe how DTPID funds will be used to increase attendance:</label>
			<textarea  id="00N0b0000082KFy" class="form-control" name="00N0b0000082KFy" rows="25" type="text" wrap="soft" required></textarea>

			<p class="middle">Event Application Program</p>
			<p class="middle"><a href="http://www.DTPID.com" target="_blank">www.DTPID.com</a></p>
		</div>

		<p class="disclaimer"><strong>If you have any questions, please contact Maribeth Lysen at (214) 571-1028 or <a href="mailto:maribeth@visitdallas.com">Maribeth@visitdallas.com</a></strong></p>

		<p class="disclaimer"><strong>Print this screen for your records before submitting. (Control+P or Command+P)</strong></p>

		<input type="submit" class="btn btn-primary btn-lg btn-block" id="submit" name="submit" disabled>

	</form>

</div>
<script type="text/javascript" src="assets/js/preEventFormFinal.js"></script>
<script type="text/javascript" src="assets/js/events.js"></script>

<% include partials/footer.ejs %> 